/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/
	
	#tweet
	{
		position: relative;
		text-align: center;
		background: url({{ site.url }}/images/header.jpg) no-repeat center center;
		background-attachment: fixed;
		background-size: cover;
	}

		#tweet:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.5);
		}
	
		#tweet section
		{
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: rgba(255,255,255,.1);
		}

		#tweet blockquote
		{
			position: relative;
			border: none;
			margin: 0;
			font-weight: 300;
			color: rgba(255,255,255,.6);
		}	